.border{
	width: 100%;
	height: 900px;
    border-radius: 20px;
	background-color: #FFDB61;	
}


.headgrid {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: 40px 190px;
    width: 80%;
    height: 120px;
    justify-items: start;
    align-items: center;
    padding: 20% 10% 0%;
}

#login_logo img {
	grid-column: 1/1;
	width: 35px;
	height: auto;
    font-size : 2em;
}

#textlow1 {
	grid-row: 1;
    grid-column: 2;  
    font-weight: bold;
    font-size : 2em;
}

#textlow2 {
	grid-row: 2;
	grid-column: 2;
	font-weight: 700;
    font-size : 3em;
}


.title_img {
    display: grid;
    align-items: center;
    padding: 15px;
    justify-items: center;
    padding-top: 0px;
}

#titleimage img{
	width: 20em;
    height: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

.login-wrap {
    width: 100%;
    height: 35%;
    padding: 0% 10%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    border-color: transparent;
    flex-direction: column;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: auto;
	height: 48px;
	border-radius: 10px;
	color: white;
	font: inherit;
}

#loginparent {
	font-size: 16px;
	background-color: #44564A;
}

#loginteacher {
	font-size: 16px;
	background-color: #44564A;
	color : white;
}

a {
	color: white;
	text-decoration: none;
}