html {
   height: 100%;
}

body {
   margin: 0;
   height: 100%;
   font-family: Nanum Gothic !important;
}

.wrap {
   min-height: 80.7%;
   position: relative;
   padding-bottom: 50px; /* footer height */
   text-align: -webkit-center;
}


.wrapper {
   margin: 0;
   height: auto;
   min-height: 100%;
   padding-bottom: 50px;
   text-align: -webkit-center;
}


.title_wrap {
   display: grid;
    grid-template-columns: 1fr 1fr;
    width: 86%;
    height: 100%;
    padding: 23px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    justify-items: end;
}


.title_wrap input[type="submit" i]{
    color: #000;
    font-size: 16px;
    background-color: #F2BE5C;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    float: right;
}


#title_name {
   font-size: 1.6em;
   grid-column-start: 1;
   justify-self: left;
   color: #000000;
}


.sidemenuqna_wrap{
	width: 100%;
    height: 100%;
	padding: 23px;
	box-sizing: border-box;
	display: flex;
	border-color: transparent;
	flex-direction: column;
	text-align: -webkit-center;
}



#request-form{
    text-align: center;
}

#request-form>input {
	width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#request-form > input::value{
    color: #D2D2D2;
}

.request-name {
	text-align: left;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: bold
}

select{
	width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border : solid 2px black;
    text-align: center;
}


	

a{
   text-decoration : none;
   color:#000000;
}


#subtitle{
	text-align : left;
	padding-left : 28px;
	padding-bottom: 40px;
}

input[type="text" i] {
	width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: solid 2px black;
    text-align: center;
}


textarea{
	width: 100%;
    height: auto;
    min-height: 300px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: solid 2px black;
    text-align: left;
    padding : 1em;
}
