html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	min-height: 65.5%;
    position: relative;
    padding-bottom: 50px;
    text-align: -webkit-center;
}

.request_wrap {
	align-items: center;
	align-content: center;
	margin: auto;
	width: 90%;
	height: 150px;
	background-color: transparent;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5%;
	margin-top: 20%;
}

.child_name {
	margin-top: 8px;
	text-align: center;
	font-size: 1.4em;
}

.kindergarten_name {
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
}

.kindergarten_class {
	margin-top: 5px;
	text-align: center;
	font-size: 1em;
}

.notice_box {
	margin: auto;
	width: 90%;
	height: 150px;
	margin-top: 11%;
	border-radius: 6px;
	background-color: #F8F8F8;
}

.noticeimg {
	display: flex;
    justify-content: space-around;
}

.noticewrite {
	display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    text-align:left;
}

#noticetitle {
	font-size:1.5em;
	font-weight: bold;
	padding:10px;
}

#noticecontent {
	font-size:1.1em;
	padding-left:10px;
}

.btnimg {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}
.btnwrite {
	display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    text-align:left;
}
.btntitle {
	font-size:1.5em;
	font-weight: bold;
	padding:10px;
}
.btncontent {
	font-size:1.1em;
	padding-left:10px;
	padding-right:10px;
}

#notice_list {
	font-size: 1em;
	text-align: right;
	margin-top: 8px;
	margin-right: 0px;
}

#noticebtn {
	grid-row: 2;
	grid-column: 1;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: #F2F2F2;
	border-width: 0px;
	padding-right: 0px;
}

#requestbtn {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: #F2F2F2;
	border-width: 0px;
    min-height: 18em;
    display: flex;
}

#requestchkbtn {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: #F2F2F2;
	border-width: 0px;
    min-height: 18em;
    display: flex;
}