body {
	margin: 0;
	height: 100%;
	font-family: Nanum Gothic !important;
}

.border{
	width: 100%;
	height: 900px;
    border-radius: 20px;
	background-color: #FFDB61;	
}


.headgrid {
    display: grid;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: 40px 250px;
    width: 80%;
    height: 5%;
    justify-items: start;
    align-items: center;
    padding: 10% 10% 0%;
}

#login_logo img {
	grid-column: 1/1;
	width: 35px;
	height: auto;
}

#textlow1 {
	grid-row: 1;
    grid-column: 2; 
    font-weight: 700;
    font-size: 1.8em; 
}

#kindergartenName{
	display: grid;
	grid-template-columns: 1fr 20fr;
	margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 7%;
    align-items: center;
}
#kindergartenimg {
	width: 2.5em;
	grid-row: 1;
	grid-column: 1;
}
#kindername{
	font-size: 1.1em;
	font-weight: bold;
    text-align: left;
    grid-row: 1;
	grid-column: 2;
	padding-left: 0px;
}

#profileplease{
    padding-left: 29px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

#selectclass{
    text-align: center;
    padding-bottom: 10px;
}

select {
	background-color: #F8F8F8;
    height: 48px;
    width: 85%;
    border: 2px solid black;
    font-family: inherit;
    border-radius: 6px;
    text-align: center;
    font-size: 1em;
    }

.infobox{
    display: grid;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.childbox{
	display: flex;
    padding: 10px;
    justify-content: space-around;
}

#babyinfo{
    display: grid;
    text-align: center;
    align-items: center;
    align-content: space-evenly;
}
#babyinput{
	display: grid;
    align-content: space-evenly;
}


#childName{
	padding-top: 7%;
	padding-bottom: 7%;
    margin-bottom: 10%;
    border-radius : 6px;
}


input[type="text" i] {
    padding: 5px;
}


#childDate > input[type="date"]{
	width: 100%;
    height: 48px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
    padding-left: 5px;
}


#childDate{
	padding-top: 7%;
	padding-bottom: 7%;
	border-radius : 6px;

}
#babytext{
	padding-top: 5px;
	font-size: 0.95em;
	font-weight: 700;
}



#babyiconbox{
    width: 11em;
    height: 11em;
    overflow: hidden;
}

#babyicon{
  position: relative;
  width: 10.5em;
  height: 10.5em;
  overflow: hidden;
}

#babyicon img{
  position: absolute;
    top: 0;
    left: 0;
    width: 107%;
    height: 122%;
    object-fit: cover;
}

.childSex{
	padding: 15px 10px;
}
.childSex input[type="radio"]{
	display: none;
}
.childSex input[type="radio"]+label{
	display: inline-block;
    cursor: pointer;
    height: 3em;
    width: 13em;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:0.8em;
    vertical-align:middle;
    
}
.childSex input[type="radio"]+label{
	background-color: #fff;
    color: #333;
}
.childSex input[type="radio"]:checked+label{
	background-color: #333;
    color: #fff;
}

#next{
    text-align: center;
}


input[type="submit"]{
    width: 21.3em;
    height: 3em;
    color: #fff;
    font-size: 16px;
    background-color: #44564A;
    border-radius: 6px;
}


#gggg{
	margin-top: 6px;
}


hr {
    border: 0.05em solid #44564a;
    width: auto;
    margin-top: 7%;
    margin-bottom: 7%;
}