html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: 50px; /* footer height */
}


.wrapper {
	margin: 0;
	height: auto;
	min-height: 100%;
	padding-bottom: 50px;
	text-align: -webkit-center;
}


.title_wrap {
	display: grid;
    grid-template-columns: 1fr 1fr;
    width: 86%;
    height: 100%;
    padding: 23px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.title_wrap>input[type="button"] {
    color: #000;
    font-size: 16px;
    background-color: #F2BE5C;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    justify-self: flex-end;
}

#title_name {
	font-size: 1.6em;
    grid-column-start: 1;
    justify-self: left;
}

.notice_wrap {
	width: 100%;
    height: 100%;
	padding: 23px;
	box-sizing: border-box;
	display: flex;
	border-color: transparent;
	flex-direction: column;
	text-align: -webkit-center;
}

#info-form{
    text-align: center;
}

#notice_form>input {
	width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border-radius: 6px;
    padding-left: 1em;
}

#notice_form > input::value{
    color: #D2D2D2;
}

.title {
	text-align: left;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: bold
}

select{
	width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border : solid 2px black;
    text-align: center;
    display:flex;
}



.notice_content{
	width: 100%;
    height: auto;
    min-height: 480px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    border-radius: 6px;
    white-space: normal;
    border: solid 2px black;
    padding: 1em;
    margin-bottom: 3em;
    text-align: start;
	
	
}


#titlegrid{
	display:flex;
	justify-content: space-between;
}