.header_wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-content: center space-evenly;
	align-items: center;
	align-content: center;
	position: absolute;
	width: 100%;
	height: 65px;
	left: 0px;
	top: 0px;
	background: #54C9FF;
	margin-top: auto;
}

#header_menu {
	font-size: 2em !important;
	grid-column-start: 1;
	margin-left: 20px;
	position: absolute;
}

#header_logo {
	grid-column-start: 2;
	text-align: center;
}

#header_logo img {
	width: auto;
	height: 3em;
	vertical-align: middle;
}

#header_alarm {
	font-size: 2em;
	grid-column-start: 3;
	text-align: right;
	margin-right: 20px;
}

a {
	text-decoration-line: none;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

#sidewrap {
	width: auto;
	height: auto;
	background: #7fbce1;
	position: relative;
}

#sidebar {
	display: grid;
	background: #7fbce1;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0px;
	justify-items: center;
	align-content: space-between;
	font-size: 1em;
}

/* #sidebar>ul {
	margin: 0;
	padding: 0;
	top: 50px;
	left: 70px;
	position: absolute;
}

#sidebar li {
	margin: 0 0 20px;
	list-style: none;
} */
#sidebar button {
	grid-column-start: 1;
	background: #ffffff;
	position: absolute;
	left: 200px;
	width: 30px;
	height: 30px;
	border: none;
	color: #5FAAD9;
	margin-left: 20px;
	border-radius: 7px;
}

#teachername {
	width: 80%;
	height: 40px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 6px;
	background-color: #F8F8F8;
	text-align: center;
	line-height: 40px;
}

#logout {
	width: 80%;
	height: 40px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 6px;
	background-color: #F8F8F8;
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
}