.title_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center space-evenly;
    align-items: center;
    align-content: center;
    
    padding-top: 90px;
    padding-bottom: 20px;

    width: 100%;
    height: 20px;

}

#title_name{
    font-size: 1.5em;
    grid-column-start: 1;
    margin-left: 20px;
}



.diseaselog{
	display : grid;
	margin: auto;
	width: 90%;
	height: auto;
	background-color: transparent;
	border : 1px solid black;
	text-align: center;
}


#diseaseform{
	display : grid;
	grid-template-columns: 0.8fr 1.2fr 1fr;
	margin: auto;
	width: 99%;
    height: 3em;
	background-color: transparent;
	border : 1px solid green;
	align-items: center;
	
}






/*애 이름*/
#childname{
	display: inline-block;
    padding: 7px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    width: 54px;
}



/* 라디오버튼 */
abel {
  font-size: 20px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

span {
  vertical-align: middle;
}

[type="radio"] {
  vertical-align: middle;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

[type="radio"]:checked {
  border: 0.4em solid tomato;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}
		
		
		
		
		
		
		
/* 드롭박스 */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  
  color: black;
  background-color: #fff;
  
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}