<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.myb.admin.IAdminRepository">

	<!-- 로그인 시도 -->
	<select id="selectAdmin" parameterType="string" resultType="com.project.myapp.myb.admin.AdminVO">
	<![CDATA[
		SELECT 
			ADMIN_ID AS adminId,
			ADMIN_NAME AS adminName,
			ADMIN_EMAIL AS adminEmail,
			ADMIN_PW AS adminPw,
			ADMIN_PHONE AS adminPhone,
			ADMIN_LEVEL AS adminLevel 
		FROM 
			ADMIN 
		WHERE ADMIN_EMAIL = #{email}
	]]>
	</select>
	
	<!-- 로그인 시도 -->
	<select id="getPassword" parameterType="string" resultType="string">
	<![CDATA[
		SELECT
			ADMIN_PW AS adminPw
		FROM
			ADMIN
		WHERE ADMIN_EMAIL = #{email}
	]]>
	</select>
	
	<!-- 회원가입(원장 한정) -->
	<insert id="insertAdmin" parameterType="com.project.myapp.myb.admin.AdminVO">
	<![CDATA[
		INSERT INTO ADMIN
			(ADMIN_ID,ADMIN_NAME,ADMIN_EMAIL,ADMIN_PW,ADMIN_PHONE)
		VALUES
			(ADMIN_SEQ.nextval,#{adminName},#{adminEmail},#{adminPw},#{adminPhone})
	]]>
	</insert>
	
	<!-- 이메일 중복체크 -->
	<select id="emailChk" resultType="int">
		<![CDATA[
			SELECT count(*)
			FROM admin
			WHERE admin_email=#{adminEmail}
		]]>
	</select>
	
	<!-- 전화번호 중복체크 -->
	<select id="phoneChk" resultType="int">
		<![CDATA[
			SELECT count(*)
			FROM admin
			WHERE admin_phone=#{adminPhone}
		]]>
	</select>
	
</mapper>