<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.myb.kindergarten.IKindergartenRepository">
	
	<!-- 어린이집 등록 요청 전송 -->
	<insert id="insertKindergarten" parameterType="com.project.myapp.myb.kindergarten.KindergartenVO">
	<![CDATA[
		INSERT INTO KINDERGARTEN(
			KINDERGARTEN_ID,
			KINDERGARTEN_NAME,
			KINDERGARTEN_PHONE,
			KINDERGARTEN_ADDRESS,
			KINDERGARTEN_CITY,
			KINDERGARTEN_GU,
			ADMIN_ID
			)
		VALUES(
		KINDERGARTEN_SEQ.nextval,
		#{kindergartenName},
		#{kindergartenPhone},
		#{kindergartenAddress},
		#{kindergartenCity},
		#{kindergartenGu},
		#{adminId}
		)
	]]>
	</insert>
	
	<!-- 어린이집 증명서류 업로드 -->
	<insert id="insertFileData" parameterType="com.project.myapp.myb.uploadfile.UploadFileVO">
	<![CDATA[
		INSERT INTO UPLOAD_FILE (
			file_id, 
			file_name, 
			file_size, 
			file_type, 
			file_data,
			kindergarten_id
			) 
		VALUES (
			FILE_SEQ.nextval, 
			#{boardId}, 
			#{fileName}, 
			#{fileSize}, 
			#{fileContentType}, 
			#{fileData},
			#{kindergartenId}
			)
	]]>
	</insert>
	
</mapper>