<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.myb.notice.INoticeRepository">
	
	<!-- 페이징 처리 된 공지사항 리스트 -->
	<select id="selectNoticeList" parameterType="hashmap" resultType="com.project.myapp.myb.notice.NoticeVO">
	<![CDATA[
		SELECT 
			notice_id 		AS noticeId, 
			notice_title 		AS noticeTitle, 
			notice_content		AS noticeContent, 
			notice_date AS noticeDate,
			notice_stat AS noticeStat, 
			admin_id AS adminId 
		FROM (
			SELECT 
				notice_id, notice_title, 
				notice_content, notice_date, notice_stat, admin_id, 
				rownum AS rnum
			FROM (
				SELECT * 
				FROM notice
				where admin_id=#{adminId}
				ORDER BY notice_stat, notice_id DESC
			)
		)
		WHERE rnum BETWEEN #{start} AND #{end}
	]]>
	</select>
	
	<!-- 전체 공지사항 개수 반환 -->
	<select id="selectTotalNoticeCount" parameterType="int" resultType="int">
	<![CDATA[
		SELECT 
			COUNT(*) AS count
		FROM 
			notice 
		WHERE
			admin_id=#{adminId}
	]]>
	</select>

	<!-- 공지사항 상세정보 확인 -->
	<select id="selectNoticeInfo" parameterType="int" resultType="com.project.myapp.myb.notice.NoticeVO">
	<![CDATA[
		select
			notice_id AS noticeId,
			notice_title AS noticeTitle,
			notice_content AS noticeContent,
			notice_date AS noticeDate,
			notice_stat AS noticeStat,
			admin_id AS adminId
		from
			notice
		where notice_id=#{noticeId}
	]]>
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="com.project.myapp.myb.notice.NoticeVO">
	<![CDATA[
		INSERT INTO notice(
			notice_id,
			notice_title,
			notice_content,
			notice_date,
			notice_stat,
			admin_id
			)
		VALUES(
		NOTICE_SEQ.nextval,
		#{noticeTitle},
		#{noticeContent},
		SYSDATE,
		#{noticeStat},
		#{adminId}
		)
	]]>
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="com.project.myapp.myb.notice.NoticeVO">
	<![CDATA[
		UPDATE notice
		SET 
			notice_title=#{noticeTitle},
			notice_content=#{noticeContent},
			notice_date=SYSDATE,
			notice_stat=#{noticeStat}
		WHERE notice_id=#{noticeId}
	]]>
	</update>
	
	<!-- 파일데이터 삭제 -->
	<delete id="deleteNotice" parameterType="int">
	<![CDATA[
		DELETE FROM 
			notice 
		WHERE 
			notice_id=#{noticeId}
	]]>
	</delete>
	
</mapper>