<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.myapp.myb.parent.IParentRepository">

	<insert id="insertParent"
		parameterType="com.project.myapp.myb.parent.ParentVO">
		<![CDATA[
			INSERT INTO
				parent (parent_id, parent_name, parent_email, parent_pw, parent_phone, parent_relation, parent_city, parent_gu)
			VALUES
				(parent_seq.NEXTVAL, #{parentName}, #{parentEmail}, #{parentPw}, #{parentPhone}, #{parentRelation}, #{parentCity}, #{parentGu})
		]]>
	</insert>

	<select id="selectParent" parameterType="string"
		resultType="com.project.myapp.myb.parent.ParentVO">
		<![CDATA[
			SELECT
				parent_id as "parentid", parent_name as "parentname", parent_email as "parentemail", parent_pw as "parentpw", parent_phone as "parentphone", parent_relation as "parentrelation", parent_city as "parentcity", parent_gu as "parentgu"
			FROM
				parent
			WHERE parent_email=#{parentEmail}
		]]>
	</select>

	<select id="emailChk" resultType="int">
		<![CDATA[
			SELECT count(*)
			FROM parent
			WHERE parent_email=#{parentEmail}
		]]>
	</select>

	<select id="phoneChk" resultType="int">
		<![CDATA[
			SELECT count(*)
			FROM parent
			WHERE parent_phone=#{parentPhone}
		]]>
	</select>

	<select id="pwChk" resultType="int" parameterType="map">
		<![CDATA[
			SELECT count(*)
			FROM parent
			WHERE parent_email=#{parentEmail} AND parent_pw=#{parentPw}
		]]>
	</select>

	<update id="updateParent"
		parameterType="com.project.myapp.myb.parent.ParentVO">
		<![CDATA[
			UPDATE parent
			SET
				parent_pw = #{parentPw}, parent_city = #{parentCity}, parent_gu = #{parentGu}
			WHERE parent_email = #{parentEmail}
		]]>
	</update>
	
	<!-- adminId에 따른 parentId 가져오기 (0403 문수지) -->
	<select id="selectParentIdByAdmin" parameterType="int" resultMap="intResultMap" >
		<![CDATA[
			SELECT c.parent_id AS "parentId"
			FROM child c, kindergarten k
			WHERE c.kindergarten_id = k.kindergarten_id AND k.admin_id=#{adminId}
		]]>
	</select>
	<resultMap type="Integer" id="intResultMap"></resultMap>

	<!-- 일형추가 : 부모이름+관계표시 -->
	<select id="getParentName" parameterType="int"
		resultType="com.project.myapp.myb.parent.ParentVO">

		SELECT
		t.teacher_id AS teacherId,
		r.request_id AS requestId,
		p.parent_id AS parentId,
		p.parent_name AS parentName,
		p.parent_relation AS parentRelation,
		c.child_id AS childId
		FROM request r, teacher t, parent p, child c
		WHERE
		t.teacher_id = #{teacherId} AND
		r.parent_id = p.parent_id AND
		c.child_id = r.child_id
		AND (r.request_date = to_char(sysdate,'yyyy-mm-dd'))


	</select>

</mapper>