<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.myb.parent.IParentRepository">
	
	<insert id="insertParent" parameterType="com.project.myapp.myb.parent.ParentVO">
		<![CDATA[
			INSERT INTO
				parent (parent_id, parent_name, parent_email, parent_pw, parent_phone, parent_relation, parent_city, parent_gu)
			VALUES
				(parent_seq.NEXTVAL, #{parentName}, #{parentEmail}, #{parentPw}, #{parentPhone}, #{parentRelation}, #{parentCity}, #{parentGu})
		]]>
	</insert>
	
	<select id="selectParent" parameterType="string" resultType="com.project.myapp.myb.parent.ParentVO">
		<![CDATA[
			SELECT
				parent_id as "parentid", parent_name as "parentname", parent_email as "parentemail", parent_pw as "parentpw", parent_phone as "parentphone", parent_relation as "parentrelation", parent_city as "parentcity", parent_gu as "parentgu"
			FROM
				parent
			WHERE parent_email=#{parentEmail}
		]]>
	</select>
	
</mapper>