<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.myb.teacher.ITeacherRepository">
	

	
	<select id="selectTeacher" parameterType="string" resultType="com.project.myapp.myb.teacher.TeacherVO">
		<![CDATA[
			SELECT	
				teacher_id AS teacherId,
				teacher_name AS teacherName,
				teacher_email AS teacherEmail,
				teacher_pw AS teacherPw,
				teacher_phone AS teacherPhone			
			FROM
				teacher
			WHERE teacher_email=#{teacherEmail}
		]]>
	</select>
	
	
	<select id="getTeacherInfo" resultType="com.project.myapp.myb.teacher.TeacherVO">
			SELECT	
				teacher_id AS teacherId,
				teacher_name AS teacherName,
				classroom_Id AS classroomId,
				kindergarten_Id AS kindergartenId
			FROM
				teacher
			WHERE teacher_id=#{teacherId}
	</select>
</mapper>