@charset "UTF-8";
#joinstring{
    border : none;
    font-size : 0.8rem;
  	height : auto;
    width: 100%; 
    margin: auto;
    padding-top: 3px;
	text-align : left;
}
.web_join_warning_text{
	text-align:center !important;
}
/*사용 가능한 이메일*/
.email_ok{
	color : green;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*사용 불가능한 이메일*/
.email_already{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*이메일 정규식 불충족*/
.email_validation{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}

/*비밀번호 일치*/
.pw_re_input_1{
	color : green;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*비밀번호 불일치*/
.pw_re_input_2{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*비밀번호 정규식 불충족*/
.pw_input{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*중복된 휴대폰번호*/
.phone_already{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}