@charset "UTF-8";
body{
	font-family: Nanum Gothic !important;
}
/* 상단 네비 바 */
#nav_wrap{
	height: 50px;
}
.navbar {
  margin-bottom: 0;
  background-color: #78bfb8;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Nanum Gothic;
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #78bfb8 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

#jb-container {
  height: 100%;
  border: 1px solid #bcbcbc;
}
#jb-content {
  width: 80%;
  height: 1030px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  text-align:center;
}

/* 홈 메인 아이콘*/
.web_prin_icon_container{
	text-align:center; 
	padding-top:50px;
	margin-bottom:50px;
}
.web_prin_home_icon{
	font-size: 18rem;
	color: #78bfb8;
}
.web_kinder_chk_icon{
	font-size:40rem;
	margin-bottom:50px;
}
.web_kinder_chk_container{
	width:100%;
}
.home_menu_icon{
	width:225px;
	text-align:center;
	display:inline-block;
	margin:0px 80px 0px 80px;
}
.home_menu_icon a{
	text-decoration:none;
	color:black;
}
.home_menu_icon a:hover{
	color:grey;
}
/* 버튼 */
.web_btn_big {
	width:600px;
	height:60px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-top:50px;
    font-size: 2.5rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color:#78bfb8;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.web_btn_small {
	width:300px;
	height:50px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 2rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color:#78bfb8;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.web_btn:hover {
    text-shadow: 1px 1px 1px #000;
}

.web_btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* 사이드 바 */
#jb-sidebar {
  width: 20%;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
  /* display: inline-block; */
}
#sidebar_user{
	text-align:center;
	margin-bottom:50px;
}
#sidebar_icon{
	font-size: 10rem;
	color: #78bfb8;
}
#sidebar_menu_list{
	font-size:2rem;
}
#sidebar_menu_list ul{
	padding:0px;
}
#sidebar_menu_list ul li{
	margin: 0;
    padding: 20px 0 15px 25px;
    list-style: none;
    background-image: url(../../images/webicons/star-solid.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size:20px;
}
#sidebar_menu_list ul li a{
	text-decoration:none;
	color:black;
}
#sidebar_menu_list ul li a:hover{
	font-size:2.5rem;
	font-weight:700;
}

/* 푸터 */
#jb-footer {
  clear: both;
  margin-top:250px;
  padding: 20px;
  background-color: #f6f6f6;
}
