@charset "UTF-8";
/* 경고 페이지 아이콘 */
.web_kinder_chk_icon{
	font-size:30rem;
	margin-bottom:50px;
}
.web_kinder_chk_container{
	width:100%;
	padding-bottom:10%;
}
/* 히트맵 */
#web_map_container{
	height: auto;	
	text-align:center;
	display: flex;
}
.mapArea {
  width: auto;
  height: auto;
  text-align:center;
}
#locName {
  width: auto;
  height: 50px;
  text-align:center;
  /* font-size:5rem; */
  margin-bottom:2rem;
}
#paper{
	text-align:center;
}


/* 서울시 차트 */
#web_chart_container{
 	width:700px;
	height:500px; 
	display:none;
}
#piechart_3d{
	width: 100%; 
	height: 100%;
}

/* 서울시 구별 차트 제목 */
#web_chart_title_container{
	text-align:center;
}
#web_chart_title{
	font-size:1.5rem;
	font-weight:700;
}

/* 어린이집 전체 차트 */
#columnchart_material{
	/* width: 90%; */ 
	height: 500px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:50px;
	border: solid 3px black;
}
#web_classroom_select{
 	width: 90%; 
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
	text-align:center;
}



/* 어린이집 반별 차트 */
#web_classroom_chart_container{
	width:900px;
	height:500px;
	display:none;
	margin-right:auto;
	margin-left:auto;
}
#piechart2_3d{
	width: 100%; 
	height: 100%;
}
#web_classroom_chart_title_container{
	text-align:center;
	margin-bottom:30px;
}
#web_classroom_chart_title{
	font-size:2.5rem;
	font-weight:700;
}
#web_gu_piechart{
	display:inline-block;
}

/* 교사 등록 */
.web_join_warning_text{
	text-align:center !important;
}
/*사용 가능한 이메일*/
.email_ok{
	color : green;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*사용 불가능한 이메일*/
.email_already{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*이메일 정규식 불충족*/
.email_validation{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}
/*중복된 휴대폰번호*/
.phone_already{
	color : red;
	display : none;
	font-size : 12px;
	padding-top: 3px;
	text-align:center !important;
}